@charset "utf-8";

/* reset */
.photoMosaic,
.photoMosaic img, .photoMosaic div, .photoMosaic span,
.photoMosaic a:link, .photoMosaic a:visited, .photoMosaic a:active, .photoMosaic a:hover {
    background:none; outline:none; border:0; height:auto; width:auto; max-height:none !important; max-width:none !important; 
    min-height:0 !important; min-width:0 !important; font-style:normal; font-variant:normal; font-weight:normal;
    list-style:none; margin:0; padding:0; position:static; float:none; visibility:visible;
    overflow:visible; color:#000000; letter-spacing:normal; line-height:120%; text-align:left; text-decoration:none; 
    text-indent:0; text-transform:none; vertical-align:baseline; white-space:normal; word-spacing:normal;
}

/* selective reset */
.photoMosaic img, .photoMosaic a:link, .photoMosaic a:visited, .photoMosaic a:active, .photoMosaic a:hover {
    margin:0 !important; padding:0 !important;
}

/* base */
.photoMosaic { position:relative; margin-bottom:2em; }
    .photoMosaic .photomosaic-item { display:block !important; position:absolute !important; top:0 !important; left:0 !important; }
    .photoMosaic .photomosaic-spinner-wrap,
    .photoMosaic .photomosaic-animation-wrap { position:absolute; top:0; right:0; bottom:0; left:0; overflow:hidden; }
    .photoMosaic .photomosaic-spinner { position:relative; display:block; }
    .photoMosaic img { display:block; position:relative; top:0px; opacity:1; border:0 !important; }
        .photoMosaic a:hover img { opacity:0.8; }

        .photoMosaic img.thumbnail,
        .photoMosaic img.medium,
        .photoMosaic img.large { position:absolute; opacity:0;}

/* loading */
.photoMosaic .photoMosaicLoading { background:transparent url('../images/spinner-arrows.gif') 0px 0px no-repeat; padding:0 0 0 20px; line-height:20px; }

.photoMosaic.photomosaic-loading .photomosaic-spinner { background:#efefef url('../images/spinner-snake.gif') 50% 50% no-repeat; opacity:1; }
.photoMosaic.photomosaic-loading .photomosaic-item.photomosaic-loaded .photomosaic-spinner { opacity:0; }

.PM_preloadify { visibility:hidden; position:absolute; bottom:5px; right:10px; }


/* overflow:hidden; on a container kills 3d */
/* base */
.PM_csstransforms.PM_csstransitions .photoMosaic .photomosaic-item {
    /*perspective: 1000px;*/
}

.PM_csstransforms.PM_csstransitions .photoMosaic .photomosaic-item,
.PM_csstransforms.PM_csstransitions .photoMosaic .photomosaic-animation-wrap,
.PM_csstransforms.PM_csstransitions .photoMosaic img {
    -webkit-transform-origin: center center;
       -moz-transform-origin: center center;
        -ms-transform-origin: center center;
         -o-transform-origin: center center;
            transform-origin: center center;

    -webkit-transition: all 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000) 0s;
       -moz-transition: all 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000) 0s;
        -ms-transition: all 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000) 0s;
         -o-transition: all 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000) 0s;
            transition: all 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000) 0s;
    /*
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
         -o-transform-style: preserve-3d;
            transform-style: preserve-3d;

    -webkit-backface-visibility: visible;
       -moz-backface-visibility: visible;
        -ms-backface-visibility: visible;
         -o-backface-visibility: visible;
            backface-visibility: visible;
    */
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
}

.PM_csstransforms.PM_csstransitions .photoMosaic .photomosaic-spinner {
    -webkit-transition: opacity 0s linear 1s;
       -moz-transition: opacity 0s linear 1s;
        -ms-transition: opacity 0s linear 1s;
         -o-transition: opacity 0s linear 1s;
            transition: opacity 0s linear 1s;
}

.PM_csstransforms.PM_csstransitions .photoMosaic img {
    -webkit-transform-origin: top left;
       -moz-transform-origin: top left;
        -ms-transform-origin: top left;
         -o-transform-origin: top left;
            transform-origin: top left;
}

/* The .photomosaic-loaded is added after all of the images have loaded */
.PM_csstransforms.PM_csstransitions .photoMosaic.resize-transition-none .photomosaic-item,
.PM_csstransforms.PM_csstransitions .photoMosaic.resize-transition-none .photomosaic-animation-wrap,
.PM_csstransforms.PM_csstransitions .photoMosaic.resize-transition-none .photomosaic-loaded img,
.PM_csstransforms.PM_csstransitions .photoMosaic.loading-transition-none img, {
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
}

.PM_csstransforms.PM_csstransitions .photoMosaic.loading-transition-none .photomosaic-loading .photomosaic-animation-wrap { }

.PM_csstransforms.PM_csstransitions .photoMosaic.loading-transition-custom .photomosaic-loading .photomosaic-animation-wrap {
    /* good for example
        opacity:0;
        -webkit-transform: rotate( -5deg ) scale( 0.95 );
           -moz-transform: rotate( -5deg ) scale( 0.95 );
            -ms-transform: rotate( -5deg ) scale( 0.95 );
             -o-transform: rotate( -5deg ) scale( 0.95 );
                transform: rotate( -5deg ) scale( 0.95 );
    */
}

.PM_csstransforms.PM_csstransitions .photoMosaic.loading-transition-fade .photomosaic-loading .photomosaic-animation-wrap {
    opacity: 0;
}

.PM_csstransforms.PM_csstransitions .photoMosaic.loading-transition-scale-up .photomosaic-loading .photomosaic-animation-wrap {
    opacity: 0;
    -webkit-transform: scale( 0.95 );
       -moz-transform: scale( 0.95 );
        -ms-transform: scale( 0.95 );
         -o-transform: scale( 0.95 );
            transform: scale( 0.95 );
}

.PM_csstransforms.PM_csstransitions .photoMosaic.loading-transition-scale-down .photomosaic-loading .photomosaic-animation-wrap {
    opacity: 0;
    -webkit-transform: scale( 1.15 );
       -moz-transform: scale( 1.15 );
        -ms-transform: scale( 1.15 );
         -o-transform: scale( 1.15 );
            transform: scale( 1.15 );
}

.PM_csstransforms.PM_csstransitions .photoMosaic.loading-transition-slide-up .photomosaic-loading .photomosaic-animation-wrap {
    opacity: 0;
    -webkit-transform: translateY( 5% );
       -moz-transform: translateY( 5% );
        -ms-transform: translateY( 5% );
         -o-transform: translateY( 5% );
            transform: translateY( 5% );
}

.PM_csstransforms.PM_csstransitions .photoMosaic.loading-transition-slide-down .photomosaic-loading .photomosaic-animation-wrap {
    opacity: 0;
    -webkit-transform: translateY( -5% );
       -moz-transform: translateY( -5% );
        -ms-transform: translateY( -5% );
         -o-transform: translateY( -5% );
            transform: translateY( -5% );
}

.PM_csstransforms.PM_csstransitions .photoMosaic.loading-transition-slide-left .photomosaic-loading .photomosaic-animation-wrap {
    opacity: 0;
    -webkit-transform: translateX( 5% );
       -moz-transform: translateX( 5% );
        -ms-transform: translateX( 5% );
         -o-transform: translateX( 5% );
            transform: translateX( 5% );
}

.PM_csstransforms.PM_csstransitions .photoMosaic.loading-transition-slide-right .photomosaic-loading .photomosaic-animation-wrap {
    opacity: 0;
    -webkit-transform: translateX( -5% );
       -moz-transform: translateX( -5% );
        -ms-transform: translateX( -5% );
         -o-transform: translateX( -5% );
            transform: translateX( -5% );
}